@{
    ViewData["Title"] = "Home Page";
}

<h4 class ="mb-3 text-muted">Информация о питомце</h4>
<form id="createPetForm">
    <div class="md-3">
        <label class="form-label">Имя питомца</label>
        <input name="name" type ="text" class="form-control" />
    </div>
    <div class="md-3">
        <label class="form-label">Вид питомца</label>
        <input name="kind" type="text" class="form-control" />
    </div>
    <div class="md-3">
        <label class="form-label">Имя владельца</label>
        <input name="ownerName" type="text" class="form-control" />
    </div>
    <div class="md-3">
        <label class="form-label">Описание</label>
        <textarea name="description" type="text" class="form-control" row="3"></textarea>
    </div>
    <button id="createPet" class="btn btn-primary">Создать</button>
</form>

@section pageScripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#createPet').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Pet")',
                data: $('#createPetForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            })
        });
    </script>
}
